@import "tailwindcss";

@keyframes pulse-slow {
  0%,
  100% {
    opacity: 0.4;
    transform: scale(0.9);
  }
  50% {
    opacity: 0.7;
    transform: scale(1.1);
  }
}

.animate-pulse-slow {
  animation: pulse-slow 6s ease-in-out infinite;
}

@keyframes text-glow {
  0%,
  100% {
    text-shadow: 0 0 10px #ffd700, 0 0 20px #ffe066;
  }
  50% {
    text-shadow: 0 0 20px #ffd700, 0 0 30px #ffe066;
  }
}

.animate-text-glow {
  animation: text-glow 3s ease-in-out infinite;
}
